.productTypeCard {
  max-height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid var(--blue);
  background-color: var(--green);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

.imageDiv {
  height: 10em;
}

.image {
  justify-self: first baseline;
  width: 14em;
  height: 10em;
}

.title {
  height: 20%;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bolder;
}

.features {
  height: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-top: -1em;
  font-size: 1em;
  text-align: center;
  font-weight: bolder;
}

.button {
  font-size: 1.5em;
}

@media (max-width: 965px) {
  .productTypeCard {
    max-height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    border: 8px solid var(--blue);
    background-color: var(--blue);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .imageDiv {
    height: 40%;
    width: 100%;
  }

  .image {
    display: block;
    justify-self: first baseline;
    width: 100%;
  }

  .title {
    font-weight: 700;
    align-items: center;
    font-family: var(--font);
  }

  .button {
    font-size: 1.3em;
    margin-top: 1.4em;
    background-color: var(--yellow);
  }
}
