.closerPlaces {
  text-align: center;
  height: 300px;
  position: absolute;
  top: 91px;
  z-index: 999;
  left: 0;
  right: 0;
}

.distributorsInfos {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 98%;
}


