.closerPlaces {
  text-align: center;
  height: 600px;
  position: absolute;
  top: 91px;
  z-index: 999;
  left: 0;
  right: 0;
}

.distributorsInfos {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding:1em;
  width: 97.5%;
}


.placesMap {
   height: 100%;
}