.menu{
    margin-left: 0.5em;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tittle {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
}
.tittle h3 {
    width: 100%;
    border-bottom: 1px solid var(--yellow);
}


.productsList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}